form {
  font-family: Josefin Sans, Helvetica, Sans-serif;
  font-size: 12px;
  color: #58595B;
  text-align: center;
  padding: 4em 0em 3em 0em;
  border: 1px solid #D1D3D4;
  border-radius: 0.2em;
  background-color: rgba(255, 255, 255, 0.7);
}

form button {
  font-family: Josefin Sans, Helvetica, Sans-serif;
  font-size:18px;
  color: #58595B;
  padding: 0.5em 1em;
  background-color: #FFFFFF;
  border: 1px solid #D1D3D4;
  border-radius: 0.1em;
}

form h1 {
  text-align: left;
  font-family: Josefin Slab, Georgia, Times;
  margin: 0 10%;
}

input {
  font-family: Josefin Sans, Helvetica, Sans-serif;
  font-size: 18px;
  width: 80%;
  color: #58595B;
  margin: 5% 10%;
  padding: 0.3em;
  border: 1px solid #D1D3D4;
  border-radius: 0.1em;
  display: inherit;
}

input:hover {
        background-color:#E6E7E8;
        border-color:#999999;
}

.form-control { 
  width: 80%;
  margin: 5% 10%;
  font-size: 18px;
  color: #58595B;
}

.bg1 {
  width: 100%;
  background-image: url("https://download.unsplash.com/photo-1418065460487-3e41a6c84dc5");
  padding: 8em 0em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg2 {
  width: 100%;
  background-image: url("https://download.unsplash.com/uploads/1411589183965bdf6e141/5f468e98");
  padding: 8em 0em;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
